.event {
  .head {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    gap: 0px;
    flex-direction: column;
    @media only screen and (min-width: 720px) {
      flex-direction: row;
      gap: 12px;
    }
    .start {
      padding: 0;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding:0 0 8px 0;
  }
  h3 {
    flex: 1;
    font-weight: 500;
    font-size: 100%;
    margin: 0;
    text-align: left;
    padding: 0;
    @media only screen and (min-width: 480px) {
      padding: 0 0 0 12px;
    }
  }
  .desc {
    padding-bottom: 3px;
  }
  .dist {
    width: 70px;
  }
}