.events {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.events-header {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  .first-part {
    flex: 1;
    display: flex;
    input[type=text] {
      width: 100% ;
      box-sizing: border-box;
    }
  }
  margin-bottom: 8px;
}