.event {
  .share-view {
    position: relative;
  }
  .social-networks {
    display: flex;
    position: absolute;
    z-index: 99;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid gray;
    min-width: calc(32px*3)+24px;
    gap: 4px;
    padding: 8px 0px;
    border-radius: 8px;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    .react-share__ShareButton {
      height: 32px;
      svg {
        width: 32px;
        height: fit-content;
      }
    }
  }
  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0;
    padding: 0 4px;
  }
  .head {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    gap: 0px;
    flex-direction: column;
    @media only screen and (min-width: 720px) {
      flex-direction: row;
      gap: 12px;
    }
    .start {
      padding: 0;
      font-weight: 300;
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding:0 0 8px 0;
  }
  h3 {
    flex: 1;
    font-weight: 500;
    font-size: 100%;
    margin: 0;
    text-align: left;
    padding: 0;
    @media only screen and (min-width: 480px) {
      padding: 0 0 0 12px;
    }
  }
  .desc {
    padding-bottom: 3px;
  }
  .dist {
    width: 70px;
  }

  &.bg-default {
    @media only screen and (max-width: 320px) {
      border-radius: 0px;
    }
  }
}